.card
{
    background-image: url("./imagenes/Matrix.jpeg");
    width: 450px;
    height: 570px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    background-size: cover;


}

.general{
    display: flex;
    justify-content: center;
}

.profile {
    text-align: center; /* Para centrar el contenido en horizontal */
    padding-top: 25px;


}

.profile img {
    width: 150px;

    border-radius: 50%;
}

.profile p {
    color: aliceblue;
}
.nombre_bandera{
    /*background: black;
    opacity: 50%;*/
    display: flex;
    justify-content: center;


}

.nombre_bandera img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-left: 10px;
}

.cuerpo{
    display: flex;
    justify-content: space-around;
    width: 350px;
    background: rgb(31, 29, 29);
    opacity: 80%;
    border-radius: 8%;
}
.cuerpo-skills{
    display: flex;
    flex-direction: column;
    color: white;
}
.cuerpo-skills p{
    margin: 8px;
}
section:nth-child(3){
    color: green;
}
.cuerpo-contactame{
    display: flex;
    flex-direction: column;
    color: white;

}
.cuerpo-contactame p{
    margin: 8px;
}

.cuerpo-skills p:first-child,
.cuerpo-contactame p:first-child {
    color: rgb(4, 187, 4);
}
